body {
	background-color: black;
}
.grid-container{
	/*Define styles for grid-container here*/
	display: grid;
  	grid-gap: 20px;
    grid-auto-rows: 200px;
    grid-template-columns: auto auto auto auto;
    position: fixed;
}

/*Define styles for grid items here*/
.item1{
	overflow: hidden;
  	display: grid;
  	grid-column: 1  / span 2;
  	grid-row: span 2;
  	background-image: url("img/gif2.gif");
  	background-size: 632px 420px;
  	background-repeat: none;
}
.item2 {
	background-image: url("img/img1.jpg");
	background-size: 306px 420px;
	overflow: hidden;
	display: grid;
	grid-row: span 2;
	background-repeat: none;
}

.item3 {
	background-image: url("img/img8.jpg");
	background-size: 306px 640px;
	overflow: hidden;
	display: grid;
	grid-row: span 3;
	background-repeat: none;
}

.item4{
	background-image: url("img/img2.jpg");
	background-size: cover;
	overflow: hidden;
	display: grid;
	background-repeat: none;
	position: fixed;
}

.item5 {
	background-image: url("img/img10.jpg");
	background-size: cover;
	overflow: hidden;
	display: grid;
	grid-row: span 2;
	grid-column: span 2;
	background-repeat: none;
	position: fixed;
}

.item6{
	background-image: url("img/img3.jpg");
	background-size: cover;
	overflow: hidden;
	display: grid;
	grid-row: span 2;
	background-repeat: none;
	position: fixed;
}

.item7{
	background-image: url("img/img6.jpg");
	background-size: cover;
	overflow: hidden;
	display: grid;
	grid-row: span 2;
	background-repeat: none;
	position: fixed;
}

.item8{
	background-image: url("img/img11.jpg");
	background-size: cover;
	background-repeat: none;
	overflow: hidden;
	display: grid;
	position: fixed;
}

.item9{
	background-image: url("img/gif1.gif");
	background-size: cover;
	background-repeat: none;
	overflow: hidden;
	display: grid;
	position: fixed;
}